## MiRAGE: 
Mining Relationships for Advanced Generative Evaluation in Drug Repositioning

In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
#Building up an empty dataframe for MiRAGE scores for each drug_disease pair 
#Note: Obviously the number of similarities(j) could be different in this case j=2 and total featueres will be 6(2j+2)
df_scores = pd.DataFrame(columns=['drugID', 'diseaseID', 
                                  'p_score','q_score','count_drug','count_disease'])
df_scores

Empty DataFrame
Columns: [drugID, diseaseID, p_score, q_score, count_drug, count_disease]
Index: []

In [3]:
#Using a disease-disease similarity as an example to representing the structure we worked with
disease_sim = pd.read_csv("dataset/disease_sim.csv")
disease_sim

,DiseaseID,D102100,D102300,D102400,D102500,D103100,D103780,D104130,D104300,D106400,...,D607682,D607685,D607850,D608033,D608088,D608105,D608217,D608320,D608583,D608622
0,D102100,1.00000,0.103950,0.291650,0.287020,0.145870,0.024705,0.128090,0.109280,0.181750,...,0.00000,0.064828,0.179170,0.017399,0.099807,0.169100,0.000000,0.000000,0.000000,0.000000
1,D102300,0.10395,1.000000,0.182050,0.104920,0.082231,0.174990,0.129070,0.102690,0.000000,...,0.18491,0.060138,0.035373,0.126530,0.261210,0.189510,0.193130,0.000000,0.046158,0.042092
2,D102400,0.29165,0.182050,1.000000,0.315040,0.024559,0.000000,0.000000,0.039558,0.246240,...,0.00000,0.017571,0.296710,0.036211,0.120600,0.058663,0.033355,0.021276,0.000000,0.000000
3,D102500,0.28702,0.104920,0.315040,1.000000,0.118420,0.111970,0.270430,0.149410,0.180180,...,0.10653,0.174090,0.142130,0.089556,0.146250,0.161740,0.117880,0.077038,0.144070,0.098586
4,D103100,0.14587,0.082231,0.024559,0.118420,1.000000,0.094739,0.145480,0.094209,0.060550,...,0.11211,0.082617,0.028715,0.067083,0.111850,0.257110,0.092804,0.000000,0.037850,0.034515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,D608105,0.16910,0.189510,0.058663,0.161740,0.257110,0.136090,0.311460,0.181600,0.033805,...,0.39255,0.056666,0.065445,0.183200,0.093899,1.000000,0.327160,0.000000,0.127280,0.116070
309,D608217,0.00000,0.193130,0.033355,0.117880,0.092804,0.166760,0.314090,0.217290,0.041345,...,0.46826,0.093800,0.000000,0.292720,0.141940,0.327160,1.000000,0.026970,0.155710,0.141990
310,D608320,0.00000,0.000000,0.021276,0.077038,0.000000,0.115890,0.018169,0.156360,0.026373,...,0.00000,0.104590,0.025259,0.058476,0.054234,0.000000,0.026970,1.000000,0.181100,0.272230
311,D608583,0.00000,0.046158,0.000000,0.144070,0.037850,0.119680,0.104120,0.137930,0.000000,...,0.18865,0.169230,0.000000,0.084225,0.034757,0.127280,0.155710,0.181100,1.000000,0.498420
312,D608622,0.00000,0.042092,0.000000,0.098586,0.034515,0.231230,0.094949,0.206870,0.000000,...,0.17204,0.182450,0.000000,0.076806,0.031694,0.116070,0.141990,0.272230,0.498420,1.000000

In [4]:
#Using a drug-drug similarity as an example to representing the structure we worked with
drug_sim = pd.read_csv("dataset/drug_sim.csv")
drug_sim

,Unnamed: 0,DB00007,DB00010,DB00014,DB00017,DB00035,DB00067,DB00091,DB00104,DB00114,...,DB04272,DB04844,DB04861,DB05259,DB06285,DB06287,DB09026,DB11750,DB13919,DB14513
0,DB00007,1.000000,0.857921,0.844405,0.742698,0.723683,0.829427,0.742095,0.804997,0.600551,...,0.602192,0.718626,0.631619,0.666454,0.690211,0.663105,0.781009,0.002133,0.618671,0.622616
1,DB00010,0.857921,1.000000,0.751090,0.765061,0.721449,0.737388,0.692793,0.753142,0.588890,...,0.543167,0.615861,0.521079,0.638339,0.681717,0.645290,0.695999,-0.056189,0.654897,0.627827
2,DB00014,0.844405,0.751090,1.000000,0.703386,0.676912,0.806628,0.818462,0.826077,0.623296,...,0.737408,0.893331,0.848264,0.692262,0.659786,0.753250,0.848447,0.100801,0.606156,0.573607
3,DB00017,0.742698,0.765061,0.703386,1.000000,0.769121,0.704624,0.672576,0.813612,0.693599,...,0.541419,0.587427,0.592285,0.638369,0.894177,0.679444,0.793479,-0.101070,0.460408,0.783835
4,DB00035,0.723683,0.721449,0.676912,0.769121,1.000000,0.684482,0.597497,0.734089,0.557759,...,0.551198,0.562161,0.504272,0.616096,0.717726,0.595376,0.772575,-0.032162,0.514260,0.597812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,DB06287,0.663105,0.645290,0.753250,0.679444,0.595376,0.659293,0.890237,0.796510,0.630574,...,0.736672,0.769679,0.739014,0.837848,0.706481,1.000000,0.760457,0.094910,0.523057,0.596471
588,DB09026,0.781009,0.695999,0.848447,0.793479,0.772575,0.803229,0.791624,0.882073,0.669223,...,0.683721,0.791633,0.761271,0.696851,0.771806,0.760457,1.000000,-0.017538,0.529825,0.687486
589,DB11750,0.002133,-0.056189,0.100801,-0.101070,-0.032162,0.079139,0.130924,0.028886,-0.007370,...,0.215148,0.232976,0.206695,0.154700,-0.040196,0.094910,-0.017538,1.000000,0.232650,0.025106
590,DB13919,0.618671,0.654897,0.606156,0.460408,0.514260,0.635378,0.565867,0.541891,0.481944,...,0.623609,0.558537,0.466862,0.540107,0.434871,0.523057,0.529825,0.232650,1.000000,0.405282
591,DB14513,0.622616,0.627827,0.573607,0.783835,0.597812,0.586957,0.547578,0.744402,0.700136,...,0.520666,0.534440,0.533440,0.584478,0.815051,0.596471,0.687486,0.025106,0.405282,1.000000

In [5]:
mapping = pd.read_csv("dataset/mapping.csv")
mapping80 = pd.read_csv("dataset/mapping80.csv")
mapping80

      drug_ID disease_ID
0     DB00659    D103780
1     DB00284    D125853
2     DB01193    D608622
3     DB01193    D161900
4     DB00316    D145590
...       ...        ...
1548  DB00909    D607631
1549  DB00909    D608105
1550  DB00909    D239350
1551  DB00909    D267740
1552  DB00909    D190300

[1553 rows x 2 columns]

In [6]:
#All drugs and all diseases 
all_drugs = mapping['DrugID'].unique().tolist()
all_diseases = mapping['DiseaseID'].unique().tolist()

In [7]:
for drug_test in tqdm(all_drugs):
    for disease_test in all_diseases:
        
        #Extract As and Bd From train mapping
        disease_list_one = mapping80[mapping80['drug_ID'] == drug_test]['disease_ID'].tolist()
        drug_list_one = mapping80[mapping80['disease_ID'] == disease_test]['drug_ID'].tolist()
        
        # We diligently calculate scores even for single instances within our training mappings.
        disease_list_one = [item for item in disease_list_one if item != disease_test]
        drug_list_one = [item for item in drug_list_one if item != drug_test]
        
        #Set default values to zero
        q1_score = 0
        p1_score = 0
        
        # Compute the maximum similarity as MiRAGE score
        if drug_list_one:
            p1_score = max(max(drug_sim[drug_sim['Unnamed: 0'] == drug_test][drug_list_one].values.tolist()))

        if disease_list_one:
            q1_score = max(disease_sim[disease_sim['DiseaseID'] == disease_test][disease_list_one].values.flatten())


        #Adding len of As and Bd and use them as two features
        count_drug = len(drug_list_one)
        count_disease = len(disease_list_one)
        
        #Filling the df 
        example_data = [drug_test, disease_test, p1_score, q1_score, count_drug, count_disease]  


        # Add example data to the last row
        df_scores.loc[len(df_scores)] = example_data

#Adjusted MiRAGE 
df_scores['adj_p'] = df_scores['p_score'] * df_scores['count_disease']
df_scores['adj_q'] = df_scores['q_score'] * df_scores['count_drug']

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 591/591 [28:03<00:00,  2.85s/it]

In [10]:
df_scores

,drugID,diseaseID,p_score,q_score,count_drug,count_disease,adj_p,adj_q
0,DB00657,D103780,0.869441,0.303470,6,4,3.477764,1.82082
1,DB00657,D125853,0.849991,0.347960,14,4,3.399964,4.87144
2,DB00657,D125850,0.849991,0.280790,10,4,3.399964,2.8079
3,DB00657,D125851,0.849991,0.265710,12,4,3.399964,3.18852
4,DB00657,D600496,0.849991,0.297490,14,4,3.399964,4.16486
...,...,...,...,...,...,...,...,...
184978,DB00908,D240400,0.631970,0.094694,1,3,1.895911,0.094694
184979,DB00908,D250790,0.631970,0.036553,1,3,1.895911,0.036553
184980,DB00908,D230450,0.836139,0.048404,1,3,2.508416,0.048404
184981,DB00908,D231900,0.836139,0.000000,1,3,2.508416,0.0
184982,DB00908,D266120,0.836139,0.042378,1,3,2.508416,0.042378

In [12]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns
import sklearn

print("pandas version:", pd.__version__)
print("numpy version:", np.__version__)
print("matplotlib version:", matplotlib.__version__)
print("seaborn version:", sns.__version__)
print("scikit-learn version:", sklearn.__version__)

pandas version: 1.3.4
numpy version: 1.20.3
matplotlib version: 3.4.3
seaborn version: 0.11.2
scikit-learn version: 1.3.2

#